# Eclipse
.classpath
.project
.springBeans
.sts4-cache
.factorypath
.tern-project
.settings/
bin/**
tmp/**
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Mac
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db 
Desktop.ini


# Directories #
/build/
/bin/

# Package Files #
*.jar
*.war
*.ear
